* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/src/imgs/thought-catalog-505eectW54k-unsplash.png');
  background-size: 100%;
  color: #fff;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  width: 60%;
  margin: 10% auto;
}

.ListItems {
  background: #fff;
  color: #43c50e;
}

.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.ListItems span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
}

.ListItems span.title {
  background: #3c3b3b;
  color: #fff;
}

.ListItems span.name,
form input[type=text] {
  width: 60%;
}

.ListItems span.age,
form input[type=number] {
  width: 30%;
}

.ListItems span.action,
form input[type=submit] {
  width: 10%;
}

.ListItems span.icon {
  color: #f00;
  cursor: pointer;
}

form input {
  padding: 10px;
  background: #ebeeeb;
  border: transparent;
  border: 0.3px solid #ccc
}

form input[type=submit] {
  background: #43c50e;
  border: 0.3px solid #ccc;
  color: #fff;
  cursor: pointer;
}